node{
	color: #9b9b9b;
}
body,
body.overlay,
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6  {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #efefef;
  color: #3b3b3b;
}
.tabs ul.primary li a.active {
  background-color: #efefef;
}
.tabs ul.primary li.active a {
  background-color: #efefef;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 100%);
}
a {
  color: #5b5b5b;
}
a:hover,
a:focus {
  color: #5b5b5b;
}
a:active {
  color: #5b5b5b;
}
.sidebar .block {
  background-color: #efefef;
  border:none;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
#name-and-slogan,
#name-and-slogan a{
  color: #292929;
  
}
#secondary-menu-links li a {
  text-transform:uppercase;
  font-weight:bold;
  color: #292929;
}
#secondary-menu-links li a:hover{
  text-decoration:none;
  color: #9b9b9b;
}
.region-header li a {
  font-weight:bold;
  text-transform:uppercase;
  color: #292929;
}
.region-header li a:hover{
  text-decoration:none;
  color: #9b9b9b;
}
#featured{
  background:#efefef;
  border:none;
}
