html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#highlighted {
  margin-left:-2%;
  width:900px;
  margin-top:-260px;
}
#header div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#footer {
  height:auto;
}
#header div.section {
  position: relative;
  height:140px;
}
.region-header {
  float: right;
  margin: 0 5px 10px;
  height:140px;
}
#secondary-menu {
  position: absolute;
  right: 300px;
  top: 50px;
  width: 200px;
}
.region-header #block-search-form {
  position: absolute;
  width: 160px;
  top:55px;
  right:-25px;
}
.region-header #block-search-form .form-text {
  width: 100px;
}
#content,
#sidebar-first,
.region-triptych-first,
.region-triptych-last,
.region-footer-firstcolumn {
  display: inline;
  float: left;
}
.region-footer-secondcolumn {
  display: inline;
  float: left;
}
.one-sidebar #content {
  width: 560px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first {
  width: 240px;
}
#sidebar-second {
  width: 400px;
  margin-top:100px;
  float:right;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first {
  margin: 20px 20px 30px;
  width: 350px;
}
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 500px;
}	
 #footer-wrapper {
  padding: 10px 5px 10px;
} 
.region-footer-firstcolumn {
  padding: 10px 10px;
  width: 550px;
  display:inline;
}
.region-footer-secondcolumn{
  padding: 10px 10px;
  width: 350px;
  display:inline;
}
.region-footer-thirdcolumn {
  padding: 10px 10px;
  width: 550px;
}
.region-footer-fifthscolumn {
  padding: 10px 10px;
  width: 550px;
}
.region-footer-fourthcolumn,
.region-footer-sixscolumn {
  padding: 10px 10px;
  width: 350px;
}
#footer {
  width: 970px;
  min-width: 950px;
}
.region-header li a {
  margin-top:20px;
  margin-left:-50px;
}
#featured div.section{
  width:100%;
  z-index:0;
}