.login-link {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  right: 200px;
  top: 58px;
  width: 300px;
  line-height: 30px;
  padding: 0 80px;
}
.region-header a.login-link:hover {
  text-decoration:none;
  color: #bbbbbb;
}

/* -----------FEEDBACK BLOCK ------------*/

#block-views-feedback-block {
  background:white;
  display:inline-block;
}
.field-name-field-quote.field-type-image.field-label-hidden div.field-items div.field-item.even img {
  position: relative; /* quote pic*/
  left:30px;
  margin-top: -40px;
}
.field-name-field-logo.field-type-image.field-label-hidden div.field-items div.field-item.even img {
  position: relative; /* logo pic*/
  top:80%;
  float:right;
  margin-top: 30px;
}
div.view.view-feedback div.field-items div.field-item.even p {
  display:block;  /* body */
  float: right;
  width: 80%;
  margin-top: -35px;
}
div.view.view-feedback h2 a {
  display: block;
  font-size: 20px;
  left: -184px;
  position: relative;
  top: 130px;
}
div.view.view-feedback div.field.field-name-field-position.field-type-text.field-label-hidden div.field-items div.field-item.even{
  bottom: 0;  /* position */
  display: block;
  left: 10px;
  position: relative;
  width: 50%;
  clear:both;
}

/* -------------- EVENTS VIEW ------------------*/

div#block-views-eventview-block h2 a {
  float:left;
  padding-bottom:5px;
  }
div#block-views-eventview-block p {
  display:block;
  width:290px;
  float:right;
 }
div#block-views-eventview-block div.field.field-name-field-event-month {
  font-size:21px;
  position:relative;
  top:40px;
}
div#block-views-eventview-block div.field.field-name-field-event-day {
   font-size: 40px;
   position:relative;
   top:-40px;
 }

/* ---------- Slideshow ---------- */

#block-views-frontpage-slideshow-block {
  z-index:0;
  position:relative
}
div.field.field-name-field-slideshow-image.field-type-image.field-label-hidden div.field-items div.field-item.even img {
  width:100vw;
  margin-top:-10px;
  max-height:460px;
  }
div.views-field.views-field-title span.field-content a {
  color: #ffcc00;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  height: 100px;
  left: 15vw;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 20px;
  width: 700px;
  text-shadow: 1px 1px 2px black;
}
div.views-field.views-field-title span.field-content a:hover,
div.views-field.views-field-title span.field-content a:active {
  Color: white;
  text-decoration:none;
}
div.views-field.views-field-field-slideshow-slogan div.field-content {
  color: white;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  left: 15vw;
  position: absolute;
  text-shadow: 1px 1px 2px black;
  top: 140px;
  height: 50px;
  width: 350px;
  text-align: left;
}
div.views-field.views-field-view-node a {
  text-shadow: none;
  color: #bbbbbb;
  font-weight:bold;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  text-shadow:1px 1px 2px black;
  height:50px;
  width:130px;
  top:215px;
  left: 40vw;
}
div.views-field.views-field-view-node a:hover,
div.views-field.views-field-view-node a:active {
  Color: white;
  text-decoration:none;
}
div.views-field-counter div.views-content-counter {
display:none;
}
div.views-field-counter {
  background: url("../images/navi_inactive.png") center center no-repeat;
  background: url("../images/navi_inactive.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 17px;
  padding: 5px;
  position: relative;
  top: -240px;
  left: 15vw;
  width: 17px;
  z-index: 4;
}
.active div.views-field-counter {
  background: url("../images/navi_active.png") center center no-repeat;
}
div.views-field-counter :hover {
  background: url("../images/navi_hover.png") center center no-repeat;
}
div.views-field.views-field-field-slideshow-image div.field-content {
  width:100%;
}

/* ---------- Overall Specifications ---------- */

li.node-readmore a{
  float:left;
  display: block;
  background: #FFBB00;
  border: none;
  color: white;
  line-height:50px;
  width:115px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  text-transform:uppercase;
}
li.node-readmore a:hover {
  background: #FF8800;
  text-decoration:none;
}
body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #3b3b3b;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}
h1 {
  font-size: 1.357em;
  color: #000;
}
h2 {
  font-size: 1.143em;
}
p {
  margin: 0 0 1.2em;
}
/* ------------------ Table Styles ------------------ */
table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left;
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}
#block-delta-blocks-logo {
  display:inline-block;
  float: left;
  padding: 15px 15px 15px 10px;
  position:relative;
  margin-left:-920px;
}

/* Region header blocks. */

.region-header .block {
  font-size: 0.857em;
  float: left;
  margin: 0 10px;
  padding: 0;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .form-text {
  background: #eeeeee;
  border-color: #aaa;
  margin-right: 2px;
  width: 120px;
}
.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}

/* Region header block menus. */

.region-header .block-menu {
  display: table-column;
  font-family: Tahoma;
  border: none;
  font-weight:bold;
  text-transform:uppercase;
  padding: 0;
  width: 208px;
}
.region-header .block-menu li a {
  display:block;
  border: none;
  padding: 3px 7px;
  color: #7f7f7f;
  float: left;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  color: #3f3f3f;
}
.region-header .block-menu li.last a {
  border-bottom: 0;
}

/* User Login block in the header region */

li.login{
  list-style-type:none;
  position: absolute;
  width: 50px;
  top:55px;
  right:280px;
}

/* --------------- Main Menu ------------ */

#block-system-user-menu {
	position:relative;
	top:-40px;
}
#block-system-user-menu li a {
  padding-right: 100px;
  display: inline-block;
  margin-left: -100px;
}
#block-system-main-menu{
  padding-top: 10px;
  margin-left: -180px;
}
#block-system-main-menu ul {
  top:90px;
  margin-left: -260px;
  background: none repeat scroll 0% 0% #7B7B7B;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 710px;
}
.region-header .menu {
  position:relative;
  top:80px;
}
#block-system-main-menu li {
  display:inline-block;
  position:relative;
  clear:both;
}

#block-system-main-menu li a {
  color: white;
  display:inline-block;
  line-height: 30px;
  text-align:center;
  font-size:11px;
  text-decoration: none;
  text-decoration: none;
  position:relative;
  clear:both;
  margin: 0;
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
  float: left; 
  font-size: 0.929em;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ----------------- Featured ----------------- */

#featured {
  line-height: 1.4;
  padding:0;
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
#featured h2 {
  font-size: 1.174em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* --------------- Highlighted ---------------- */

#highlighted {
  border:none;
  font-size: 100%;
  z-index:1;
  position:relative
}
#highlighted tr td, 
#highlighted tr th a {
  color:white;
  background:white;
  border:none;
}
.highlight1,
.highlight2,
.highlight3 {
  vertical-align:top;
  float:left;
  display:inline-block;
  width:240px;
  clearfix:both;
  padding:30px;
  border:none;
}
.highlight1 h2,
.highlight2 h2,
.highlight3 h2 {
  display:block;
  width:240px;
  text-align:center;
  height:70px;
  margin-top:-4px;
  margin-left:-9px;
  margin-right:-20px;
}
.highlight1 h2 {
  background: #FFCC00;
}
.highlight2 h2 {
  background: #3377FF;
}
.highlight3 h2 {
  background: #999999;
}
.highlight1 h2 a,
.highlight2 h2 a,
.highlight3 h2 a {
  vertical-align:middle;
  line-height:70px;
  font-size:35px;
  color:white;
  font-family:Arial;
} 
.highlight1 h2 a:hover,
.highlight2 h2 a:hover,
.highlight3 h2 a:hover {
  text-decoration:none;
} 
.engage {
  margin-left:20px;
  height:157px;
  padding-top:47px;
  width:180px;
  background: white url(../images/temp4.png) 0 0 repeat-x;
}
.liberate {
  margin-left:20px;
  height:137px;
  padding-top:67px;
  width:180px;
  background: white url(../images/temp4.png) 47% 0 repeat-x;
}
.perform {
  margin-left:20px;
  height:137px;
  padding-top:67px;
  width:180px;
  background: white url(../images/temp4.png) 95% 0 repeat-x;
}
.engage a,
.liberate a,
.perform a {
  line-height:40px;
  vertical-align:bottom;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ----------------- Content ------------------ */

.content {
  margin-top: 10px;
  color:#7b7b7b;
}
.node p,
.node h1,
.node h2,
.node h3,
.node h4,
.node h5,
.node h6 {
  color:#9b9b9b;
  font-family: Tahoma;
}
.content h2 {
  font-size: 24px;
}
/* ------------------ Sidebar ----------------- */

div.node.node-news.node-teaser {
  margin-top:-50px;
}
div.node.node-news.node-teaser img {
  margin-top:-50px;
}
#sidebar-second {
  background:#efefef;
}
#sidebar-second p {
  float: left;
  padding-left: 80px;
  position: relative;
  top: 20px;
}
#sidebar-second h2 a {
  left: 80px;
  position: relative;
  text-transform: uppercase;
  top: 30px;
  font-size:14px;
}
#sidebar-second .newsletter {
  width:360px;
  height:80px;
  padding-left: 70px;
}
.sidebar .section {
  padding-top: -20px;
}
.sidebar h2 {
  border: medium none;
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
}
.sidebar_second h1 {
  font-family:Tahoma;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper .region-triptych-last {
  background:#efefef;
  font-color:#000000;
}
#triptych h2 {
  color: #000;
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  line-height: 1.3;
}
#triptych .block.last {
  border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
  list-style: none;
}
#triptych .block ul,
#triptych .block ol {
  padding-left: 0;
}
#triptych #block-user-login .form-text {
  width: 185px;
}
#triptych #block-user-online p {
  margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#triptych-last #block-node-syndicate {
  text-align: right;
  background: white;
  border:none;
}
#triptych #block-search-form .form-type-textfield input {
  width: 185px;
}
#triptych-last #block-system-powered-by {
  text-align: right;
}

/* ------------------ Footer ------------------ */

.footer-second-view {
  margin-top:-20px;
}
.footer-second-view tr td {
  border:none;
  background:#292929;
}
.footer-second-view div.main {
  border-bottom:1px solid #aaaaaa;
  background:#292929;
}
#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#footer-wrapper .region-footer-thirdcolumn {
  padding: 10px;
  border-right: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
}
#footer-wrapper .region-footer-thirdcolumn p {
  color: white;
}
#footer-wrapper .region-footer-fourthcolumn {
  padding: 10px;
  border-bottom: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  color: white;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block {
  margin: 0.5em 0;
}
#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border:none;
  font-size: 1.3em;
  color:white;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
  color: white;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}
#footer-columns .content li a {
  font-size:11px;
}
#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer .region {
  margin-top: 20px;
}
#footer .block {
  clear: both;
}
#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-wrapper .region-footer-firstcolumn {
  margin-left:-25px;
}
#footer-wrapper .region-footer-firstcolumn li.metasonic_link a {
  float:left;
  font-weight:bold;
  padding-left:14px;
  margin-left:15px;
  font-size:17px;
  border:none;
  cursor: pointer;
  background: #292929 url(../images/arrow1.png) no-repeat 5px center;
  color: #9b9b9b;
}
#footer-wrapper .region-footer-firstcolumn li.metasonic_link a:hover {
  color: #bbbbbb;
  text-decoration:none;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow a {   
  float:left;
  line-height:50px;
  height:44px;
  width:44px;
  border:none;
  cursor: pointer;
  color: #9b9b9b;
  padding-right:3px;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow.google a {
  background: #292929 url(../images/media2.png) no-repeat 0% center;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow.twitter a {
  background: #292929 url(../images/media2.png) no-repeat 23% center;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow.facebook a {
  background: #292929 url(../images/media2.png) no-repeat 42% center;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow.social a {
  background: #292929 url(../images/media2.png) no-repeat 60% center;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow.linkedin a {
  background: #292929 url(../images/media2.png) no-repeat 80% center;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow.rss a {
  background: #292929 url(../images/media2.png) no-repeat 100% center;
}
#footer-wrapper .region-footer-secondcolumn li.metasonic_follow a:hover {
  background-image: url(../images/transparentmedia.png);
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
  background: #b3b3b3 url(../images/buttons.png) 0 0 repeat-x;*/
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 4px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}
input {
  margin: 2px 0;
  padding: 4px;
}
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
  border-radius:3px;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.password-suggestions ul li {
  margin-left: 1.2em; 
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}

/* --------------- Search Form ---------------- */

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left;
  font-size: 1em;
  width:208px;
  height:15px;
  background:#eeeeee;
  border: 1px solid #aaaaaa;
  border-style: double; 
  border-width: 1px 36px 1px 1px; 
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: -37px;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
  background: #999999 url(../images/search-button1.png) no-repeat center center;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
  border:none;
}
#search-form .form-item-keys label {
  display: block;
}
#edit-advanced #edit-submit--2 {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left:10px;
}